{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CTU Teaching Load</title>
  <link href="{% static 'css/new-style.css' %}" rel="stylesheet">
</head>
<body>

  <header>  
    <div class="logo-bg"></div>
    <img src="{% static 'img/ctu_logo.jpg' %}" alt="" class="logo">
    <span class="logo-label">CTU Teaching Load</span>
  
    <div class="timer">
      <div id="date-time"></div>
    </div>

    <nav>
      <ul>
        <li><a id="focus" href="{% url 'index' %}" class="nav-link">HOME</a></li>
        <li><a href="#services" class="nav-link">SERVICES</a></li>
        <li><a href="#about" class="nav-link">ABOUT</a></li>
        <li><a href="#contact" class="nav-link">CONTACT</a></li>
        <li><button class="btn-login">LOGIN</button></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="home">
      <img src="{% static 'img/ctu-bg-image.png' %}" alt="" class="bg-image">

      <div class="content1">
        <p>CTU Dumanjug Extension</p>
        <p class="p1">Teaching Load</p>
      </div>
      
      <p class="p2">Animus Studios is a video agency committed to making the work with their clients fun and organized.</p>
      <p class="p3">They do so by creating original video content that is focused on storytelling. What makes this website stand out is the colorful animation it offers.</p>
      
      <div class="btn">
          <a href="{% url 'create_teaching_load' %}" class="but btn1">View Instructor List</a>
          <a href="{% url 'teaching_load' %}" class="but btn2">Create Teaching Load</a>

      </div>
    </section>

    <section id="services" class="section2">
      <div class="contents-blank">
        <h1>SERVICES</h1>
        <p>This is the content of Section 2.</p>
      </div>
    </section>

    <section id="about" class="section3">
      <div class="contents-blank">
        <h1>ABOUT</h1>
        <p>This is the content of Section 3.</p>
      </div>
    </section>

    <section id="contact" class="section4">
      <div class="contents-blank">
        <h1>CONTACT</h1>
        <p>This is the content of Section 4.</p>
      </div>
    </section>
  </main>

  <footer>
    <h1>Footer</h1>
    <p>This is the content of Section 5.</p>
  </footer>

  <script src="{% static 'js/scroll.js' %}"></script>

</body>
</html>
